@tailwind base;
@tailwind components;

.productImage {
  @apply container mx-auto transition duration-500;
  @apply ease-in-out transform cursor-pointer hover:scale-105;
}

@import "animate.min.css";

@tailwind utilities;
